:root {
    --space-s: 20px;
    --space-m: 40px;
    --space-l: 60px;
    --action-element-width: 240px;
    --max-content-width: 1000px;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: calc(2 * var(--space-l));
}

.top-line {
    display: flex;
    justify-content: space-between;
    width: calc(var(--action-element-width) + var(--space-s));
    z-index: 100;
    margin: var(--space-m) 0;
}

.feature-box {
    display: flex;
    flex-wrap: wrap;
    max-width: var(--max-content-width);
    padding: 0 var(--space-l);
    margin-left: calc(-1 * var(--space-m));
    margin-top: calc(-1 * var(--space-m));
}

.feature-box > * {
    padding: var(--space-s);
    margin-left: var(--space-m);
    margin-top: var(--space-m);
}

.action-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: var(--action-element-width);
    padding-top: calc(-1 * var(--space-s));
}

.action-box > * {
    margin-top: var(--space-s);
}

.elements-box {
    display: flex;
    flex-direction: column;
}

.elements-box > * {
    margin-bottom: var(--space-s) !important;
}

.title, .input-field {
    width: var(--action-element-width);
}

@media only screen and (min-width: 600px) {
    .top-line {
        margin: var(--space-l) 0;
    }
}