.App {
    margin-bottom: 100px;
}

.top-line {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    justify-items: center;
    width: 300px;
    z-index: 1000;
}

.center-column {
    display: grid;
    grid-row-gap: 20px;
    justify-items: center;
    padding-top: 60px;
}

.title, .input-field {
    width: 240px;
}

.checkbox, .cta-button {
    justify-self: start;
}

.cta-button {
    margin-top: 20px !important;
}

@media only screen and (min-width: 600px) {
    .top-line {
        padding-bottom: 20px;
    }
}