.App {
    margin-bottom: 100px;
}

.top-line {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 20px;
    padding: 20px 0 0;
    z-index: 1000;
}

.center-column {
    display: grid;
    grid-row-gap: 20px;
    justify-items: center;
    padding-top: 60px;
}

.title, .checkbox, .cta-button {
    justify-self: start;
}

.cta-button {
    margin-top: 20px !important;
}

@media only screen and (min-width: 600px) {
    .top-line {
        padding: 60px 0 20px;
    }
}